#Directories
/node_modules/
/public/build/
/.vscode
/files/

#Files
.DS_Store
.env
yarn-error.log

#File types
*.map
*.json
*.js

#Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*